@model IEnumerable<F1Teams.Models.DTOs.TeamDto>

@{
    ViewBag.Title = "Teams";
    Layout = "_Layout";
}

<h2 class="mb-3">Teams</h2>

@Html.ActionLink("Add new team", "Create", "Team")
<hr />
@if (Model.Any())
{
    <div class="row row-cols-3">
        @foreach (var team in Model)
        {
            <div class="col mb-4 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(model => team.Name)</h5>
                        <p class="card-text">@Html.DisplayNameFor(model => model.FoundationYear): @Html.DisplayFor(model => team.FoundationYear)</p>
                        <p class="card-text">@Html.DisplayNameFor(model => model.WonChampionsTitle): @Html.DisplayFor(model => team.WonChampionsTitle)</p>
                        <p class="card-text">@Html.DisplayNameFor(model => model.IsEntryFeePayed) @(team.IsEntryFeePayed ? "Yes" : "No")</p>
                        @Html.ActionLink("Edit", "Edit", new { id = team.Id }, new { @class = "btn btn-secondary" })
                        @Html.ActionLink("Delete", "Delete", new { id = team.Id }, new { @class = "btn btn-danger", onclick="return confirm('Are you sure to delete?')"})
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No teams found.</p>
}

